@use "variables" as *;

.#{$ns}-running-text.md {
  pre > code {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
}

/*
  Breaks IE11 compatability to address inaccessible scrollbar issue
  of the BlueprintJS Dialog component at:
  https://github.com/palantir/blueprint/issues/1008

  Follows a working recommendation proposed by a PR in that thread at:
  https://github.com/palantir/blueprint/pull/3403
*/
.#{$ns}-overlay {
  /* breaks context menu :( */
  .#{$ns}-overlay-backdrop {
    position: sticky;
    height: 100%;
    width: 100%;
  }

  .#{$ns}-dialog-container {
    position: absolute;
    top: 0;
  }
}
