.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  // Only add right padding for desktop view & not mobile view.
  .left-parent & {
    padding-right: 8px;
  }
}
